{% assign experience_path_parts = page.path | split: '/' %}
{% assign experience_filename = experience_path_parts | last | split: '.' | first %}
{% assign matched_roles = "" | split: "" %}
{% for role in site.roles %}
  {% assign role_path_parts = role.path | split: '/' %}
  {% if role_path_parts.size > 2 %}
    {% assign role_directory = role_path_parts[1] %}
    {% if role_directory == experience_filename %}
      {% assign matched_roles = matched_roles | push: role %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign sorted_roles = matched_roles | sort: "start_date" | reverse %}
{% for role in sorted_roles %}
{% include date-range.html start_date=role.start_date end_date=role.end_date %}
<h2>{{ role.title }}</h2>

{{ role.content | markdownify }}
{% endfor %}

