---
layout: index
---

<div class="home">
  {{ content }}

  {% if site.paginate %}
    {% assign all_experiences = paginator.experiences %}
  {% else %}
    {% assign all_experiences = site.experiences %}
  {% endif %}
  {% assign sorted_experiences = "" | split: "" %}
  {% for i in (0..999) %}
    {% assign found_experience = null %}
    {% assign latest_date = null %}
    {% for experience in all_experiences %}
      {% assign already_sorted = false %}
      {% for sorted_exp in sorted_experiences %}
        {% if sorted_exp.path == experience.path %}
          {% assign already_sorted = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% unless already_sorted %}
        {% assign experience_path_parts = experience.path | split: '/' %}
        {% assign experience_filename = experience_path_parts | last | split: '.' | first %}
        {% assign experience_roles = "" | split: "" %}
        {% for role in site.roles %}
          {% assign role_path_parts = role.path | split: '/' %}
          {% if role_path_parts.size > 2 %}
            {% assign role_directory = role_path_parts[1] %}
            {% if role_directory == experience_filename %}
              {% assign experience_roles = experience_roles | push: role %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% assign earliest_start = null %}
        {% for role in experience_roles %}
          {% if role.start_date %}
            {% if earliest_start == null %}
              {% assign earliest_start = role.start_date %}
            {% else %}
              {% assign role_start_epoch = role.start_date | date: "%s" | plus: 0 %}
              {% assign earliest_start_epoch = earliest_start | date: "%s" | plus: 0 %}
              {% if role_start_epoch < earliest_start_epoch %}
                {% assign earliest_start = role.start_date %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if earliest_start %}
          {% assign earliest_start_epoch = earliest_start | date: "%s" | plus: 0 %}
          {% if latest_date == null or earliest_start_epoch > latest_date %}
            {% assign latest_date = earliest_start_epoch %}
            {% assign found_experience = experience %}
          {% endif %}
        {% else %}
          {% if latest_date == null %}
            {% assign found_experience = experience %}
          {% endif %}
        {% endif %}
      {% endunless %}
    {% endfor %}
    {% if found_experience %}
      {% assign sorted_experiences = sorted_experiences | push: found_experience %}
    {% else %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% assign experiences = sorted_experiences %}


  {%- if experiences.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- for experience in experiences -%}
      <li>
        {%- assign experience_path_parts = experience.path | split: '/' -%}
        {%- assign experience_filename = experience_path_parts | last | split: '.' | first -%}
        {%- assign experience_roles = "" | split: "" -%}
        {%- for role in site.roles -%}
          {%- assign role_path_parts = role.path | split: '/' -%}
          {%- if role_path_parts.size > 2 -%}
            {%- assign role_directory = role_path_parts[1] -%}
            {%- if role_directory == experience_filename -%}
              {%- assign experience_roles = experience_roles | push: role -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- assign earliest_start = null -%}
        {%- assign latest_end = null -%}
        {%- for role in experience_roles -%}
          {%- if role.start_date -%}
            {%- if earliest_start == null -%}
              {%- assign earliest_start = role.start_date -%}
            {%- else -%}
              {%- assign role_start_epoch = role.start_date | date: "%s" | plus: 0 -%}
              {%- assign earliest_start_epoch = earliest_start | date: "%s" | plus: 0 -%}
              {%- if role_start_epoch < earliest_start_epoch -%}
                {%- assign earliest_start = role.start_date -%}
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
          {%- if role.end_date -%}
            {%- if latest_end == null -%}
              {%- assign latest_end = role.end_date -%}
            {%- else -%}
              {%- assign role_end_epoch = role.end_date | date: "%s" | plus: 0 -%}
              {%- assign latest_end_epoch = latest_end | date: "%s" | plus: 0 -%}
              {%- if role_end_epoch > latest_end_epoch -%}
                {%- assign latest_end = role.end_date -%}
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {% include date-range.html start_date=earliest_start end_date=latest_end %}

        {%- assign matched_roles = experience_roles -%}
        {%- if matched_roles.size > 0 -%}
          {%- assign sorted_roles = "" | split: "" -%}
          {%- for i in (0..999) -%}
            {%- assign found_role = null -%}
            {%- assign earliest_date = null -%}
            {%- for role in matched_roles -%}
              {%- assign already_sorted = false -%}
              {%- for sorted_role in sorted_roles -%}
                {%- if sorted_role.path == role.path -%}
                  {%- assign already_sorted = true -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
              {%- unless already_sorted -%}
                {%- if role.start_date -%}
                  {%- assign role_date_epoch = role.start_date | date: "%s" | plus: 0 -%}
                  {%- if earliest_date == null or role_date_epoch < earliest_date -%}
                    {%- assign earliest_date = role_date_epoch -%}
                    {%- assign found_role = role -%}
                  {%- endif -%}
                {%- else -%}
                  {%- if earliest_date == null -%}
                    {%- assign found_role = role -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endunless -%}
            {%- endfor -%}
            {%- if found_role -%}
              {%- assign sorted_roles = sorted_roles | push: found_role -%}
            {%- else -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
          <span class="experience-role">{%- for role in sorted_roles -%}{{ role.title }}{%- unless forloop.last -%}, {% endunless %}{%- endfor -%}</span>
        {%- endif -%}
        <h3>
          <a class="post-link" href="{{ experience.url | relative_url }}">
            {{ experience.title | escape }}
          </a>
        </h3>
        {%- if site.minima.show_excerpts -%}
          {{ experience.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" title="Go to Page {{ paginator.previous_page }}">
              {{ paginator.previous_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | relative_url }}" class="next-page" title="Go to Page {{ paginator.next_page }}">
              {{ paginator.next_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
</div>